.display-flex 
{
    display: flex; 
}
.flex-d-column 
{
    flex-direction: column;
}
.flex-100 
{
    flex: 0 0 100%;
}
.margin-0-auto 
{
    margin: 0 auto;
}
.just-around 
{
    justify-content: space-around;
}
.just-between 
{
    justify-content: space-between;
}
.display-none 
{
    display: none; 
}
.flex-wrap 
{
    flex-wrap: wrap;
}
.flex-Drow 
{
    flex-direction: row;
}
.notations-active 
{
    color: #0065FC !important;
}
.price {
    font-weight: bold;
}
